/* место для вашего кода */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: 92px 50px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.header__menu_list {
  display: flex;
  column-gap: 32px;
  font-size: 18px;
  text-transform: lowercase;
  list-style-type: circle;
}

.header__menu_list__first_li {
  display: block;
}

.logo {
  justify-self: center;
  align-self: center;
  width: 148px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.cover_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 165px 50px 0px 50px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.letter-spacing_60 {
  letter-spacing: 60px;
}

.letter-spacing_0 {
  letter-spacing: 0px;
}

.aligned-text {
  display: flex;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center {
  display: flex;
  align-self: center;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_right {
  display: flex;
  align-self: end;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.make_bet {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 400;
  font-size: 22px;
  padding-top: 95px;
  padding-bottom: 62px;
  text-transform: uppercase;
  align-items: center;
}

.bet-button {
  justify-self: end;
  border: 1px solid #fff;
  padding: 12px 32px;
}

.bet_text {
  padding-right: 100px;
  line-height: 28px;
  word-spacing: 17px;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  padding: 170px 0 180px 0;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card_list {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 430px;
  height: 450px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  background-size: cover;
}

.card_type_film {  
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-01.jpg);  
}

.card_type_book {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
}

.about {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 885px;
  margin-top: 100px;
  gap: 100px;
}

.about_logo {
  display: flex;
  justify-content: space-around;
  width: 430px;
}

.about__logo-image {
  display: flex;
  justify-content: space-around;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  background-size: cover;
}

.about__logo-image img {
  width: 148px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;  
  flex-direction: column;
  gap:25px;
  font-size: 20px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: 180px 50px 90px 50px;
}

.footer .address {
  justify-self: start;
}

.footer__menu {
  display: flex;
  justify-self: center;
  font-size: 18px;
  line-height: 23.4px;
  text-transform: lowercase;
}

.footer__menu ul li {
  display: block;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  width: 240px;
}

.footer__social-icon {
  display: flex;
  height: 48px;
}

.menu-link_active {
  text-decoration: none;
}
