/* место для вашего кода */
body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: 92px 50px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.header__menu_list {
  display: flex;
  column-gap: 32px;
  font-size: 18px;
  text-transform: lowercase;
  list-style-type: circle;
}

.header__menu_list__first_li {  
  display: block;
}

.logo {
  justify-self: center;
  align-self: center;
  width: 148px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  max-width: 240px;
}

.overlay {  
  filter: brightness(40%);
}

.cover {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: #fff;
}

.cover_wrapper {
  display: flex;
  flex-direction: column;
  height: 530px;
  justify-content: space-between;
  margin: 165px 50px 62px 50px;
}

.ono_tebe_nado {
  display: flex;
  flex-direction: column;
}

.aligned-text {
  display: flex;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  line-height: 115%;
}

.aligned-text_center{
  display: flex;
  align-self: center;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  line-height: 115%;
}

.aligned-text_right{
  display: flex;
  align-self: end;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  line-height: 115%;
}

.make_bet {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}

.bet-button{
  justify-self: end;
  padding: 12px 32px;
  border: 1px solid #fff;
}

.bet_text {
  line-height: 28px;
  word-spacing: 15px;
}

.lots {
  display:flex;
  flex-direction: column;
  margin: 0 50px;
  padding: 180px 0;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card_list {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 430px;
  height: 450px;  
  color: #fff;  
}

.card_type_film {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  padding: 50px 40px;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;  
}

.card_type_book {
  display: flex;  
  flex-direction: column;  
  justify-content: space-between;  
  padding: 50px 40px;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  display: flex;  
  flex-direction: column;  
  justify-content: space-between;
  padding: 50px 40px;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card__title {
  font-size: 22px;
}

.card__text {
  font-size: 20px;
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 40px;
  font-weight: 400px;
  font-size: 20px;
  text-transform: lowercase;
}

.about {
  display: flex;
  justify-content: space-between;
  height: 487px; 
  margin: 0 50px;
}

.about__column {
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  width: 885px;
  margin-top: 100px;
}

.about_logo {
  display: flex;
  justify-content: space-around;
  width: 430px;
}

.about__logo-image {
  display: flex;
  justify-content: space-around;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color:black;
  background-size:cover;
}

.about__logo-image img {
  width: 148px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;  
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 97px; 
  margin: 180px 50px 90px 50px;
}
.footer .contacts {
  justify-self: start;
}

.footer__menu {
  display: flex;
  justify-self: center;  
  text-transform: lowercase; 
}

.footer__menu ul li {
  display: block;
  text-align: center; 
}

.footer__social-list {
  display: flex;
  width: 240px;
  justify-self: end;
  justify-content: space-between;
}

.footer__social-icon {
  display: flex;
  height: 48px;
}

.menu-link_active {
  text-decoration: none;
}